html{
    background-color: salmon;
}

.nada{
    font-family : Arial;
    /* border: 2px solid teal; */
}

.heading{
    font-size : 20px;
    font-family : Arial;
    /* font-weight : bold; */
}

h3{
    font-size : 20px;
}

body{
    font-family: Arial;
}

.answer{
    font-size : 18px;
}
